.display_radios {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;

  .radio {
    display: flex;
    flex: 1 21%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .favicon {
    width: 70px;
  }
}
