.container-display-radio {
  height: 100%;

  .display_radios.loaded {
    width: 95vw;
    opacity: 1;
    transition: opacity 1s;
    overflow: auto;
    height: 73vh;
    margin: 0 auto;
    padding-top: 80px;
  }
}

.display_radios.loaded::-webkit-scrollbar {
  width: 10px;
}

.display_radios.loaded::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.display_radios.loaded::-webkit-scrollbar-track {
  background-color: var(--secondary-color-fade-2);
}

.display_radios {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
  justify-content: space-around;
  opacity: 0;

  .space4 {
    width: 300px;
    height: 50%;
    display: flex;
    justify-content: center;
    animation: appear 0.3s ease-in-out forwards;

    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .radio {
    background-color: hsla(46, 89%, 82%, 0.647);
    height: 13.5em;
    width: 13.5em;
    width: 95%;
    height: 95%;
    border: 1px solid rgba(0, 0, 0, 0.93);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(3px);
    box-shadow:
      6px 6px 12px #fae7a75b,
      -6px -6px 12px #fae7a75b;
    cursor: pointer;
  }

  button:active {
    color: #666;
    box-shadow:
      inset 4px 4px 12px #fae7a75b,
      inset -4px -4px 12px #fae7a75b;
  }

  .rond {
    width: 20em;
    height: 20em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      width: 80%;
      text-align: center;
      word-wrap: break-word;
      font-size: 14px;
    }

    .favicon {
      width: 70px;
    }

    .favorite {
      position: absolute;
      transform: translate(200%, -200%);
      z-index: 1;
      background: none;
      border: none;
      img {
        height: 35px;
        width: 35px;
      }
    }
  }

  .no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: calc(1rem * 10);
    color: var(--neutral-color);
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: calc(1rem * 3);
  }
}

@media screen and (max-width: 1024px) {
  .display_radios.loaded {
    height: 74.2vh;
  }
}

@media screen and (max-width: 768px) {
  .display_radios.loaded {
    height: 70vh;
  }
}
@media screen and (max-width: 425px) {
  .display_radios.loaded {
    height: 70vh;
  }
  .display_radios {
    padding-top: 20px;

    .space4 {
      width: 35%;
      height: 35%;
    }
    .display_radios {
      gap: 5px;
      .radio {
        background-color: rgba(255, 255, 255, 0.397);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .space4 {
    .rond {
      border: none;

      .favicon {
        width: 40%;
      }
      p {
        font-size: 8px;
      }
    }
    .radio {
      width: 70%;
      height: 65%;
      background-color: rgba(255, 255, 255, 0.397);
      box-shadow:
        6px 6px 6px #fae7a75b,
        -6px -6px 6px #fae7a75b;
      outline-offset: 6px;
      outline: 1px solid black;
    }
  }
}
