
.main-radio-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  opacity: 0;
  height: 100%;
  padding-top: 75px;
  width: 100vw;
  margin: 0 auto;
}

.main-radio-container.loaded {
  opacity: 1;
  transition: opacity 1s;
  overflow: auto;
  height: 75.3vh;

.display_radios.loaded {
  opacity: 1;
  transition: opacity 1s;
  overflow: auto;  
  height:70vh;
  margin-inline: 10px;
  

  .container-display-radio {
    height: 100%;
  }
}

.display_radios.loaded::-webkit-scrollbar-track
{
	border-radius: 10px;
}

.display_radios.loaded::-webkit-scrollbar
{
	width: 15px;
}

.display_radios.loaded::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
  height: 100px;
}

.display_radios {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
  overscroll-behavior-block: contain;
  scroll-snap-type: y mandatory;
  justify-content: space-around;
  opacity: 0;
 
  .space4 {
    width: 20%;
    height:50%;
    display: flex;
    justify-content: center;
  }

  .radio {
    background-color: #fae7a7a5;
    height: 13.5em;
    width: 13.5em;
    width: 95%;
    height: 95%;
    border: 1px solid rgba(0, 0, 0, 0.93);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(3px);
    box-shadow:
      6px 6px 12px #fae7a75b,
      -6px -6px 12px #fae7a75b;
    cursor: pointer;

  }

  button:active {
    color: #666;
    box-shadow:
      inset 4px 4px 12px #fae7a75b,
      inset -4px -4px 12px #fae7a75b;
  }

  .rond {
    width: 20em;
    height: 20em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      width: 80%;
      text-align: center;
      word-wrap: break-word;
      font-size: 14px;
    }

    .favicon {
      width: 70px;
    }
  }
}

.search-feature {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
  .main-radio-container.loaded {
    height: 74.2vh;
  }
}

@media screen and (max-width: 768px) {
  .main-radio-container.loaded {
    height: 70vh;
  }
}
@media screen and (max-width: 425px) {
  .main-radio-container.loaded {
    height: 70vh;
  }
  .main-radio-container {
    padding-top: 20px;

    .space4 {
      width: 35%;
      height: 35%;
    }
    .display_radios {
      gap: 5px;
      .radio {
        background-color: rgba(255, 255, 255, 0.397);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .space4 {
    .rond {
      border: none;

      .favicon {
        width: 40%;
      }
      p {
        font-size: 8px;
      }
    }
    .radio {
      width: 70%;
      height: 65%;
      background-color: rgba(255, 255, 255, 0.397);
      box-shadow:
        6px 6px 6px #fae7a75b,
        -6px -6px 6px #fae7a75b;
      outline-offset: 6px;
      outline: 1px solid black;
    }
  }
}
