.search-bar__input {
  background-color: #fae7a7;
  flex: 1;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--secondary-color);
  height: 100%;
  width: 500px;
}

.search-bar__input:focus {
  outline: none;
}
